---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info" style="padding: 25px">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% endif %}</h2>
          <p class="author_subtitle">Just a guy from Atlanta seeking to turn my passion into a career. Currently enrolled in Bloc’s Software Development Track.</p>
          <p class="author_subtitle">My path to software engineering is a bit outside the norm. I graduated from West Point in 2004 with a BS in History and a minor in Computer Science. After spending 7.5 years as an Cavalry officer, I transitioned to civilian life as an agency recruiter. I’ve spent the last 5+ years managing teams of recruiters at two different agencies in the Atlanta area. While I’ve enjoyed success both in the Army and as a recruiting manager, neither are really my passion.</p>
          <p class="author_subtitle">On October 5, 2015, I committed to make a career transition to my true passion: software engineering.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
