---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info" style="padding: 25px">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% endif %}</h2>
          <p class="author_subtitle">Thrilled to be a Support Engineer at <a href="https://salesloft.com/">SalesLoft</a>!</p>
          <p class="author_subtitle">I took a round about way to get here. After spending 7+ years in the Army as a Cavalry officer, I followed that up with a five year career in recruiting. Realizing that I was missing my passion, on October 5, 2015, I commited to make my final career transition. Fast forward exactly 28 months - including a commit streak of 854 days to my <a href="https://github.com/davelively14">GitHub</a> - and SalesLoft took a chance on me.</p>
          <p class="author_subtitle">I love all things Elixir, Ruby, and React.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
